* is an expression (mathematical operator for multiplication)
'hello' is a string value
-87.8 is a floating value
- is an expression (mathematical operator for substraction)
/ is an expression(mathematical operator for division)
+ is an expression(mathematical operator for addition)
6 is an integer value

Variable is a container where we can store different data values
String is an ummutable data type in python which cannot be changed once we declare it in a program. We use single or double quotes to declare strings in python.

Text Type:	str for strings which are arrays of bytes representing unicode characters.
Numeric Types:	int for integer values, float for floating numbers i.e with decimals, complex which represent complex numbers i.e 9j
Boolean Type:	bool wich can either be True or False

An expression is made up of operators and operands.
Expressions are interpreted or evaluate to a single value depending on the operators used.

Statements represent an action or command e.g print statements, assignment statements. spam = 10 
Expression is a combination of variables, operations and values that yields a result value. 10*10

In [3]:
bacon = 22

In [4]:
bacon + 1

23

In [5]:
bacon

22

variable bacon contains int(22) because it was assigned to it when it was being declared initially 
bacon + 1 is just an expression that yields int(23) but it doesn't assign the resulsts to the variable

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [7]:
'spam'*3

'spamspamspam'

A variable name must start with a letter or the underscore character and cannot start with a number.
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

int() for integer value
float() for floating number
str() for strings

In [1]:
'I have eaten' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

The error is because of the different data types in the expression. In python the value you are concatenating needs to be same type, both int or str.

In [3]:
#Changing the integer to string i.e from 99 to '99'
'I have eaten' + ' 99 ' + 'burritos.'

'I have eaten 99 burritos.'