It has two possible values: True and False , which are special versions of 1 and 0 respectively

AND searches find all of the search terms.
OR searches find one term or the other.
NOT eliminates items that contain the specified term.

True and True is True.
True and False is False.
False and True is False.
False and False is False.
True or True is True.
True or False is True.
False or True is True.
False or False is False.
not True is False.
not False is True.

In [1]:
(5 > 4) and (3 == 5)

False

In [2]:
not (5 > 4)

False

In [3]:
(5 > 4) or (3 == 5)

True

In [4]:
not (5 > 4) or (3 == 5)

False

In [5]:
(True and True) or (True == False)

True

In [6]:
(not False) or (not True)

True

A comparison operator compares two values and returns a boolean value, either True or False.
Less than (<)
Less than or equal to (<=) 
Greater than (>) 
Greater than or equal to (>=) 
Equal to (==)  
Not equal to (!=)

The “=” is an assignment operator is used to assign the value on the right to the variable on the left.
x = 10

The ‘==’ operator checks whether the two given operands are equal or not. If so, it returns true. Otherwise it returns false.
7 == 7 will return True

In [16]:
spam = 0
if spam == 10:
    print('eggs')
    if spam > 5:
        print('bacon')
    
else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

The first block prints ('eggs') the second block prints('bacon') The third block is the else statement

In [23]:
spam = int(input())
if spam == 1:
    print('Hello')
elif spam == 2:
    print('Howdy')
else:
    print('Greetings')

11
Greetings

You can press (Ctrl + C)

The main difference between both the statements is that when break keyword comes, it terminates the execution of the current loop and passes the control over the next loop or main body, whereas when continue keyword is encountered, it skips the current iteration and executes the very next iteration in the loop.

break statement leaves a loop, whereas the continue statement jumps to the next iteration

In [30]:
for i in range(10):
    print(i, 'Hello')

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [31]:

for i in range(0, 10):
    print(i, 'Hello')

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [32]:

for i in range(0, 10, 1):
    print(i, 'Hello')

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

The differece is the number of arguments in the range function but the outcome is the same for all the 3 functions

In [33]:
#Printing 1 to 10 using for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [34]:
# Printing 1 to 10 using while loop
i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

spam.bacon()